extends layout

block content
	.container
		h1#name=applicant.name

		h2 Bio
		p#bio=applicant.bio

		h2 Skills
		p#skills=applicant.skills

		h2 Years of Experience
		p#years=applicant.years + ' years.'

		h2 Why They Want to Work at Omega3Studios
		p#why=applicant.why
		
		